<mat-card>
  <mat-card-header>
    <mat-card-title>Display todo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="todo__content">
      <div><label>uid:</label> {{ state.selected!.id }}</div>
      <div><label>title:</label> {{ state.selected!.title }}</div>
      <div><label>details:</label> {{ state.selected!.details }}</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="editTodo()">Edit</button>
    <button mat-mini-fab color="warn" (click)="deleteTodo()" [disabled]="state.deletionPending"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>

