<mat-toolbar color="primary">
  <mat-icon>sports_martial_arts</mat-icon>
  <a mat-button routerLink="/counter" routerLinkActive="app__active-link">Counter</a>
  <a mat-button routerLink="/counter-state-in-service" routerLinkActive="app__active-link">Counter state in service</a>
  <a mat-button routerLink="/counter-redux" routerLinkActive="app__active-link">Counter redux</a>
  <a mat-button routerLink="/todos" routerLinkActive="app__active-link">Todos</a>
</mat-toolbar>
<div class="app">
  <div class="app__container">
    <router-outlet></router-outlet>
  </div>
</div>
